*{
    margin: 0;
}

.contenedor{
    background: rgb(110, 26, 199);
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 10%;
}

button{
    font-size: xx-large;
     padding: 1.75em;
 }

#yesBtn{
    transform: translate(-100%,0);
 }
#noBtn{
    position: absolute;
}